
@media screen and (max-width: 768px) {
    .container-portrait[DiageoCMS-card_card] {
        height: 370px;
    }
}

.container-portrait[DiageoCMS-card_card] {
    padding: 5% 7% 0 7%;
    position: relative;
}

.container-portrait[DiageoCMS-card_card] .img-container-portrait[DiageoCMS-card_card] {
    position: absolute;
    height: 220px;
    bottom: 0;
}

.container-portrait[DiageoCMS-card_card] .img-container-portrait[DiageoCMS-card_card] img {
    height: 100%;
}