.title {
    display: none;
}

.accordion[DiageoCMS-faqItem_faqItem] {
    margin-bottom: 15px;
}
.accordion[DiageoCMS-faqItem_faqItem] .slds-accordion_content[DiageoCMS-faqItem_faqItem] lightning-formatted-rich-text[DiageoCMS-faqItem_faqItem]{
    font-weight: 400;
} 
.accordion[DiageoCMS-faqItem_faqItem] .slds-button.slds-button_reset[DiageoCMS-faqItem_faqItem] {
    background-color: #FDFDFD;
    height: auto;
}
.accordion[DiageoCMS-faqItem_faqItem] .slds-button.slds-button_reset.active[DiageoCMS-faqItem_faqItem] > .title[DiageoCMS-faqItem_faqItem]  {
    color: #F2B005;
}
.accordion[DiageoCMS-faqItem_faqItem] .slds-button.slds-button_reset[DiageoCMS-faqItem_faqItem] .title[DiageoCMS-faqItem_faqItem] {
    color: #2B2B2B;
}


@media screen and (max-width:768px) {
    .accordion[DiageoCMS-faqItem_faqItem] .slds-button.slds-button_reset[DiageoCMS-faqItem_faqItem]:after {
        position: relative;
        top: -3px;
        margin-top: 0;
    }
    .accordion[DiageoCMS-faqItem_faqItem] {
        padding: 18px 36px;
    }
}