.DatatableRow p {
    font-size: 12px;
    font-weight: 200;
}

.DatatableRow[DiageoCMS-datatableRow_datatableRow] .rowdata[DiageoCMS-datatableRow_datatableRow] p.column[DiageoCMS-datatableRow_datatableRow] {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}