.comm-page-custom-account-details .slds-table thead th {
    background-color: transparent;
}

.slds-table thead th {
    background-color: #F2F2F2;
}

.datatable[data-is-desktop="true"][DiageoCMS-datatable_datatable] .desktop-table[DiageoCMS-datatable_datatable] tbody[DiageoCMS-datatable_datatable] .slds-hint-parent:nth-child(odd)[DiageoCMS-datatable_datatable] {
    background-color: #EFEFEF!important;
}

.datatable[data-is-desktop="true"][DiageoCMS-datatable_datatable] .desktop-table[DiageoCMS-datatable_datatable] tbody[DiageoCMS-datatable_datatable] .slds-hint-parent:nth-child(even)[DiageoCMS-datatable_datatable] {
    background-color: #F7F7F7!important;
}

.datatable[data-is-desktop="true"][DiageoCMS-datatable_datatable] .desktop-table[DiageoCMS-datatable_datatable] tr[DiageoCMS-datatable_datatable].pagination {
    display: none;
}