
.datatable[DiageoCMS-datatable_datatable] .search-element[DiageoCMS-datatable_datatable] .searchInput[DiageoCMS-datatable_datatable]::-webkit-input-placeholder {
   font-weight: 200!important;
}
.datatable[DiageoCMS-datatable_datatable] .search-element[DiageoCMS-datatable_datatable] .searchInput[DiageoCMS-datatable_datatable]::-moz-placeholder {
   font-weight: 200!important;
}
.datatable[DiageoCMS-datatable_datatable] .search-element[DiageoCMS-datatable_datatable] .searchInput[DiageoCMS-datatable_datatable]:-ms-input-placeholder {
  font-weight: 200!important;
}
.datatable[DiageoCMS-datatable_datatable] .search-element[DiageoCMS-datatable_datatable] .searchInput[DiageoCMS-datatable_datatable]::placeholder {
  font-weight: 200!important;
}
.datatable[DiageoCMS-datatable_datatable] .search-element[DiageoCMS-datatable_datatable] .searchInput[DiageoCMS-datatable_datatable] {
    font-weight: 200!important;
}
.cMD_BaseTheme {
    background-color: white;
}
.datatable[DiageoCMS-datatable_datatable] h1[DiageoCMS-datatable_datatable]:after {
    content: 'Puedes revisar y comprobar el estado de cualquier consulta que hayas enviado a MyDiageo';
    display: block;
    font-size: 20px;
}
.datatable[data-is-desktop="true"][DiageoCMS-datatable_datatable] .desktop-table[DiageoCMS-datatable_datatable] tr[DiageoCMS-datatable_datatable].pagination {
    display: none;
}
.datatable[data-is-desktop="true"][DiageoCMS-datatable_datatable] .desktop-table[DiageoCMS-datatable_datatable] .pagination[DiageoCMS-datatable_datatable] td[DiageoCMS-datatable_datatable] {
    background: #FAE7B5 !important;
    color: #0B0B0B !important;
    -webkit-column-span: all;
    column-span: all;
}

body.comm-page-custom-account-details .datatable[data-is-desktop=true][DiageoCMS-datatable_datatable] .header[DiageoCMS-datatable_datatable] {
    display: none;
}

body.comm-page-custom-account-details .datatable[data-is-desktop="true"][DiageoCMS-datatable_datatable] .desktop-table[DiageoCMS-datatable_datatable] tr[DiageoCMS-datatable_datatable].pagination{
    display: none;
}

body.comm-page-custom-account-details .datatable[DiageoCMS-datatable_datatable] tr[DiageoCMS-datatable_datatable] {
    pointer-events: none;
}

.datatable[data-is-desktop="true"][DiageoCMS-datatable_datatable] .search-element[DiageoCMS-datatable_datatable] .icons-group[DiageoCMS-datatable_datatable] img:first-child {
    position: relative;
    left: -360px;
}